@model CreateEditDashboardModel
@{
    ViewData["Title"] = "Create Dashboard";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Dashboard Basisdaten</h4>
    <div class="form-group">
        @Html.LabelFor(x => x.Title, new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(x => x.Id)
        </div>
    </div>
    <hr />
    
    <table class="table">
        @for (var pIndex = 0; pIndex < Model.DeviceParameters.Count; pIndex++)
        {
            <tr>
                <td>@Model.DeviceParameters[pIndex].Title</td>
                <td>
                    <table class="table">
                        @for (var dpIndex = 0; dpIndex < Model.DeviceParameters[pIndex].Parameters.Count; dpIndex++)
                        {
                            <tr>
                                <td>@Model.DeviceParameters[pIndex].Parameters[dpIndex].Parameter</td>
                                <td>@Html.CheckBoxFor(x => x.DeviceParameters[pIndex].Parameters[dpIndex].Active) 
                                    @Html.HiddenFor(x => x.DeviceParameters[pIndex].Parameters[dpIndex].Id)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}