@using HmIpMonitor.Contracts
@model List<HmIpMonitor.Contracts.CcuValueDto>

@functions {

    string GetGroupClass(CcuValueDto value)
    {
        var errorThreshold = value.DeviceParameter.ValueErrorThreshold;
        var warnThreshold = value.DeviceParameter.ValueWarnThreshold;

        if (Math.Abs(errorThreshold - warnThreshold) < 0.1)
        {
            return string.Empty;
        }

        if (value.DeviceParameter.ValueThresholdDirectionRight)
        {
            if (errorThreshold < value.V)
            {
                return "error";
            }

            if (warnThreshold < value.V)
            {
                return "warn";
            }
        }
        else
        {
            if (errorThreshold > value.V)
            {
                return "error";
            }

            if (warnThreshold > value.V)
            {
                return "warn";
            }
        }

        return string.Empty;
    }

}

@foreach (var d in Model)
{
    <div class="parameter-group @GetGroupClass(d)">
        <div class="device" title="@d.DeviceName">@d.DeviceName</div>
        <div class="parameter" title="@d.DeviceParameter.Parameter">@d.DeviceParameter.Parameter</div>
        <div class="divider @GetGroupClass(d)"></div>
        <div class="value">@d.V</div>
    </div>
}
